@font-face {
  font-family: 'Noto Color Emoji';
  src: url('../fonts/NotoColorEmoji/NotoColorEmoji.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Emoji';
  src: url('../fonts/NotoEmoji/NotoEmoji-Regular.ttf') format('truetype');
}
